<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean name="customerService" class="com.ai4everyone.tutorial.springaopxml.service.impl.CustomerServiceImpl"/>
    <bean name="aspectService" class="com.ai4everyone.tutorial.springaopxml.aspect.AspectService"/>

    <aop:config proxy-target-class="true">
        <aop:aspect id="aspect" ref="aspectService">
            <aop:pointcut id="serviceCall"
                          expression="execution(* com.ai4everyone.tutorial.springaopxml.service.impl.CustomerServiceImpl+.*(..))"/>
            <aop:before method="beforeService" pointcut-ref="serviceCall"/>
            <aop:after method="afterService" pointcut-ref="serviceCall"/>
        </aop:aspect>
    </aop:config>
</beans>